# Miscellaneous
*.class
*.log
*.pyc
*.swp
*~
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
gitattributes

# Ignore local i18n WIP folder
/vaultexplorer-i18n-wip/
android/.gradle/9.1.0/gc.properties
android/.gradle/9.1.0/checksums/checksums.lock
android/.gradle/9.1.0/executionHistory/executionHistory.bin
android/.gradle/9.1.0/executionHistory/executionHistory.lock
android/.gradle/9.1.0/fileChanges/last-build.bin
android/.gradle/9.1.0/fileHashes/fileHashes.bin
android/.gradle/9.1.0/fileHashes/fileHashes.lock
android/.gradle/9.1.0/fileHashes/resourceHashesCache.bin
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/cache.properties
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.gradle/noVersion/buildLogic.lock
android/.gradle/vcs-1/gc.properties
android/.gradle/file-system.probe
